/* Tailwind classes for centering and mobile screen size */
body {
  @apply bg-gray-100; /* Optional: Set a background color for the app */
}

.app-container {
  @apply min-h-screen flex justify-center items-center bg-gray-100;
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.fixed {
  position: fixed;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.z-50 {
  z-index: 50;
}
